.ipynb_checkpoints/
*.ipynb
*.csv
__pycache__
**/__pycache__/**
*.egg-info
build
dist
*.gpx
*.gz
*.json
*.log
.vscode
.coverage
htmlcov/
!myfile_multseg.gpx.gz
!myfile.gpx
!Tests/non_trackpoint_extension.gpx