arch: arm64
os: linux # optional, this is default
dist: focal
language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
  - "3.11"
# command to install dependencies
before_install:
  - |
    if ! git diff --name-only $TRAVIS_COMMIT_RANGE | grep -qvE '(.md)|(.png)|(.pdf)|(.html)|^(LICENSE)|^(docs)'
    then
      echo "Only doc files were updated, not running the CI."
      exit
    fi
install:
  - pip install -r requirements.txt
  - pip install --upgrade coverage>=7.6.1
# command to run tests
script:
  - coverage --version
  - coverage run
  - coverage report --fail-under=100
