dist: focal
language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  - "3.9"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - coverage run -m unittest discover -v -s . -p "Test*.py" 
  - coverage report --fail-under=100 --include "gpxcsv/*,*TestGpx.py*"
